<div class="row justify-content-center mt-4">
  <div class="col-md-4">
    <div class="form-group" align="center">
      <form [formGroup]="editCar" (submit)="updateCar()">
        <label>
          Izmjena podataka vozila
          <input type="text" class="form-control" formControlName="carModel" [value]="editCar.get('carModel').value">
        </label>
        <label>
          Registarske tablice
          <input type="text" class="form-control" formControlName="licencePlate" [value]="editCar.get('licencePlate').value">
        </label><br>
        <button type="submit" class="btn btn-primary" [disabled]="!editCar.valid">SNIMI IZMJENE</button>
        <br>
        <button class="btn btn-danger btn-lg rounded m-2 shadow" (click)="delConfirm()" *ngIf="delete == false">
          IZBRISI VOZILO
        </button>
        <br>
        <button *ngIf="delete == true" class="btn btn-danger rounded shadow m-2" (click)="deleteCar()">DA</button>
        <button *ngIf="delete == true" class="btn btn-primary rounded shadow m-2" (click)="delDecline()">NE</button>
        <button class="btn btn-dark btn-lg rounded shadow m-2" (click)="back()">NAZAD</button>
      </form>
    </div>
  </div>
</div>
