<div class="row justify-content-center">
  <div class="col-md-6 mt-4" align="center">
    <form class="form-group" [formGroup]="defect" (submit)="postDefect()">
      <label>
        Opis kvara
        <input class="form-control" type="text" formControlName="details">
      </label><br>
      <label>
        Cijena kvara
        <input class="form-control" type="number" formControlName="cost" name="cost">
      </label><br>
      <button type="submit" [disabled]="!defect.valid" class="btn btn-lg btn-default mt-4">DODAJ KVAR</button>
    </form>
    <button class="btn btn-lg btn-info" (click)="back()">NAZAD</button>
  </div>
</div>
