<div class="row justify-content-center mt-4" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="form-group" align="center">
    <form [formGroup]="newCar" (submit)="onSubmit()">
      <label>
        Unos vozila
        <input type="text" class="form-control" formControlName="carModel">
        <small *ngIf="!newCar.get('carModel').valid" class="text-danger">Unesite naziv vozila</small>
        <small *ngIf="newCar.get('carModel').valid" class="m-auto text-info"><i class="material-icons">done</i></small>
        <small *ngIf="newCar.get('carModel').value.length<2" class="text-danger"> Min 2 *</small>
      </label><br><br>
      <label>
        Registarske tablice
        <input type="text" class="form-control" formControlName="licencePlate" (keyup)="checkDatabase()">
        <small *ngIf="!newCar.get('licencePlate').valid" class="text-danger">Pogresan unos tablica</small>
        <br>
        <small *ngIf="!newCar.get('licencePlate').valid">Format tablica "A11-A-111"</small>
        <br>
        <small class="text-danger" *ngIf="licencePlateInDatabase === true">Vozilo sa je vec u bazi</small>
      </label><br>
      <button type="submit" class="btn btn-primary" [disabled]="!newCar.valid || licencePlateInDatabase == true">DODAJ
        VOZILO
      </button>
      <br>
      <button type="button" class="btn btn-dark" (click)="back()">NAZAD</button>
    </form>
  </div>
</div>
