<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4 shadow-sm rounded text-info shadow">
      <p class="info-text mt-lg-4">{{employee?.name}}<br>
        <button class="ml-lg-5 btn btn-danger btn-lg rounded m-2 shadow align-bottom" (click)="delConfirm()"
                *ngIf="delete == false">
          BRISANJE
        </button>
        <button *ngIf="delete == true" class="ml-lg-5 btn btn-danger btn-lg rounded shadow m-2"
                (click)="deleteEmployee()">DA
        </button>
        <button *ngIf="delete == true" class="btn btn-primary btn-lg rounded shadow m-2" (click)="delDecline()">NE
        </button>
      </p>
    </div>
    <div class="offset-2 col-md-3 mt-4">
      <button class="ml-lg-5 btn btn-primary btn-lg rounded m-2 shadow" routerLink="/employee/{{employee?.id}}/car/add">
        DODAJ NOVO VOZILO
      </button>
      <button class="ml-lg-5 btn btn-info btn-lg rounded m-2 shadow" (click)="toggleShowDetails()">DETALJI O RADNIKU
      </button>
      <button class="btn-lg btn btn-dark rounded m-2 ml-lg-5 shadow" routerLink="">NAZAD</button>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="showDetails==true">
    <div class="col-md-6">
      <h3 class="m-3 font-weight-bold justify-content-center">Radio je na sledecim vozilima: </h3>
      <ul id="car" class="list-group" *ngFor="let car of employee?.cars">
        <li class="list-group-item m-1 shadow-sm">
          <div class="row">
            <div class="col-md-7 name">
              Naziv vozila: {{car.carModel}}
              <br>
              <small>
                Registarske tablice: {{car.licencePlate}}
              </small>
            </div>
            <div class="col-md-5" align="center">
              <button type="button" class="col-12 btn btn-sm btn-info m-1"
                      [routerLink]="['/employee',employee?.id,'car',car.id]">
                ZAPOCNI POPRAVKU
              </button>
              <br>
              <button type="button" class="col-12 btn btn-sm btn-primary m-1" [routerLink]="'/edit/car/'+car.id">IZMJENI
                PODATKE
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="m-3 font-weight-bold justify-content-center">Radio je na sledecim kvarovima: </h3>
      <ul class="list-group" *ngFor="let defect of employee?.defects">
        <li class="list-group-item m-1 shadow-sm">
          <div class="name">
            Opis kvara: {{defect.details}}<br>
          </div>
          <p>
            Cijena popravke: {{defect.cost}} KM
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="mt-4 col-md-8">
      <label for="searchCars">
        <h2>Pretraga vozila iz baze</h2>
      </label>
      <input placeholder="Naziv vozila" id="searchCars" class="list-group-item col-12 shadow" type="text"
             [(ngModel)]="carModel"
             (keyup)="searchCars()">
      <ul class="list-group mt-3" *ngFor="let carSearch of allCars">
        <li class="list-group-item shadow m-1">
          <div class="row">
            <div class="col-md-8"><h3>
              {{carSearch.carModel}}<br>
            </h3>
              <br>
              Reg.tablice: {{carSearch.licencePlate}}
            </div>
            <div class="col-md-4">
              <button class="btn btn-info col-12 m-1 shadow" type="button"
                      [routerLink]="['/employee',employee?.id,'car',carSearch.id]">ZAPOCNI POPRAVKU
              </button>
              <button class="btn btn-primary col-12 m-1 shadow" type="button"
                      [routerLink]="'/edit/car/'+carSearch.id">IZMJENI PODATKE
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
