<div class="container mt-lg-3 mt-sm-1">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="m-2 p-0 shadow-sm list-group" *ngFor="let employee of employees">
        <li [routerLink]="['employee',employee.id]" class="list-group-item">
          <h2 align="center">{{employee.name}}</h2>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <button routerLink="add/employee" id="addNew" class="btn border btn-info shadow col-md-3 mb-3">
      DODAJ NOVOG RADNIKA
    </button>
  </div>
</div>
