<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="navbar-brand">
    APLIKACIJA
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link ml-4" routerLink="">RADNICI</a>
    <a class="nav-item nav-link ml-4" routerLink="cars">VOZILA</a>
  </div>
</nav>
