<div class="row justify-content-center mt-4">
  <div class="form-group">
    <form [formGroup]="newEmployee">
      <label>
        Ime i prezime radnika
        <input type="text" class="form-control" formControlName="name">
      </label>
      <small class="form-text text-muted">Puno ime i prezime radnika</small>
      <div>
        <button type="submit" [disabled]="!newEmployee.valid" class="btn btn-primary" (click)="postEmployee()">DODAJ RADNIKA</button>
      </div>
    </form>
  </div>
</div>
