<div class="container mt-lg-3 mt-sm-1">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <label class="text-info m-2" for="carSearch"><h2>Pretraga vozila</h2></label>
      <input class="list-group-item mb-3 shadow col-12" placeholder="Naziv vozila" id="carSearch" type="text" (keyup)="getCarsByCarName()" [(ngModel)]="carModel">
      <ul class="list-group" *ngFor="let c of carList">
        <li class="list-group-item m-1 shadow-sm">
          <div class="row">
            <div id="name" class="col-md-8">
              Model auta: {{c.carModel}}<br>
              <small id="licencePlate"> Registarske tablice {{c.licencePlate}}</small>
            </div>
            <div class="col-md-4">
              <button class="col-12 btn btn-info m-1" [routerLink]="'/edit/car/'+c.id">IZMJENI PODATKE</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
