i {
  font-size: 400%;
  padding: 20px;
  font-weight: bolder;
}
.card-link{
  color: black;
}

#addNew{
  color: black;
  background-color: forestgreen;
  border-radius: 20px;
}
#addNew:hover{
  background-color: ghostwhite;
}
#plusIcon{
  font-size: 200%;
}
#licencePlate{
  font-size: 50%;
}

#car {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  color: darkgray;
  height: auto;
  width: auto;
}
#name{
  font-size: 200%;
}

#car:hover {
  background-color: ghostwhite;
}

.card-link {
  color: black;
}

.card-link:hover {
  color: black;
}
