<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 rounded mt-4">
      <p class="text-info">Model auta: {{car?.carModel}}</p>
      <p class="text-info">Registarske tablice:<br> {{car?.licencePlate}}</p>
    </div>
    <div class="offset-2 col-md-2 mt-4" align="right">
      <button class="ml-lg-5 btn btn-danger btn-lg rounded">BRISANJE</button>
    </div>
  </div>
  <h1 align="center">Kvarovi: </h1>
  <div class="row">
    <div class="offset-2 col-8">
      <button class="btn btn-lg btn-primary font-weight-bold m-1 shadow-sm" [routerLink]="['/add/defects',car?.id, employee?.id]">
        DODAJ NOVI KVAR
      </button>
      <button (click)="back()" class="btn btn-lg btn-dark mt-1 shadow-sm">NAZAD</button>
    </div>
  </div>
  <div class="row">
    <div class="offset-2 col-8">
      <ul class="list-group" *ngFor="let defect of car?.defects">
        <li class="list-group-item m-1 shadow-sm">
          Opis kvara: {{defect.details}}<br>Cijena: {{defect.cost}}KM
        </li>
      </ul>
    </div>
  </div>
</div>
